{% load staticfiles %}
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		{% for book in object_list %}
		<tr>
			<td>{{ book.name }}</td>
			<td><button id="{{ book.id }}" class = "delete">Delete</button></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="pagination">
    {% for x in page_obj.paginator.page_range %}
        <button><a href="?page={{ x }}">{{ x }}</a></button>
    {% endfor %}
</div>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/formview.js" %}"></script>
